[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
scikit-learn = "*"
matplotlib = "*"
numpy = "*"
joblib = "*"
tensorflow = "*"
flask = "*"
opencv-python = "*"
opencv-contrib-python = "*"

[requires]
python_version = "3.6"
